body {

background-image: linear-gradient(to right, rgb(178, 93, 235) , rgb(221, 174, 243));
}


.format {
    height: 300px;
    display: flex;
    display: flex;
    justify-content: center;
}

.grid,
.text {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#search {
    text-transform: uppercase;
    font-weight: bold;

}

.logo {
    width: 300px;
    height: 300px;



}

#button {
    color: rgb(139, 53, 196);
}


.titulo {
    font-size: 300%;

    text-align: center;
    color: rgb(8, 72, 88);
    font-family: Georgia, 'Times New Roman', Times, serif;




}

.button-search {
    background-color: transparent;
    border-radius: 100px;
    border: none;
}



.acabamento {
    font-size: 30px;
    color: blueviolet;
}

.logo1 {
    width: 200px;
    height: 200px;
    justify-content: center;
}

.nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:  rgb(8, 72, 88);
    
   
}

.busca1 {
  width: 100px;
  height: 30px;
  color: blueviolet;

}

.final {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:  rgb(8, 72, 88);
    
    
}

footer {
    text-align: center;
    padding: 100px 0;
   

}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
    

}